body{

}

.delete-edit{
  margin-left: 370px;
}
.create-post{

}
.card{
  margin: 10px 0;
  padding-top: 5px;
  box-shadow: none;
  border: 1px solid darkgrey;
}
.like{
  margin-left: 390px;
  margin-bottom: 5px;
}
.like:hover{
  color: red;
}

.add-to-friend{
  padding: 5px;
  background: dodgerblue;
  color: #fff;
}
.add-to-friend:hover{
  background: cornflowerblue;
  color: #fff;
}
